*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
}
:root {
    --bg-color: #0099FF;
    --fn-color: #CCCCCC;
    --hv-color: #FFFF66;
    --smb-color: #4d4a4a;
    --cuarto-color: #FFFFFF;
    --quinto-color: #FFFFCC;
    --sexto-color: #CCFF99;
  }


body{
    background-color:var(--bg-color);
    color: black;
}

header{
    position: sticky;
    top: 15px;
}

header a {
    color: black;
    margin: 4px;
    font-size: 14px;
}

header a:hover{
    color:var(--hv-color)
}

nav{
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color:var(--fn-color);
    width:380px;
    margin: 15px auto;
    padding: 8px;
    box-shadow:5px 5px 5px var(--smb-color);
}

main{
    margin: 100px 20%;
}

#presentacion{
    font-size: 15px;
}

#presentacion > p{
    font-size: 1.4em;
}
#destacar{
    color: var(--cuarto-color);
    font-weight: bold;
}
.contenedor{
    display: flex;
    align-items: center;
    column-gap: 15px;
}

#disponible{
    background-color: #CCCCCC;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: black;
    padding: 2px;
    transition: all 1.3s;
    -webkit-transition: all 1.3s;
    -moz-transition: all 1.3s;
    -ms-transition: all 1.3s;
    -o-transition: all 1.3s;
}
#disponible:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#perfil{
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

h1{
    font-size: 1.6em;
    font-weight: 600;
    margin: 15px 0;
}

#informacion{
    margin: 10px 0;
}

.contactos{
    background-color: var(--fn-color);
    color:black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 5px;
    
}

.contactos:hover{
    color: var(--hv-color);

}